:root {
  --dark: #223322;
  --mid: #297a29;
  --light: #00cc00;
  --font-size: 1em;
  --amount: 16px; /*multiplo de 2*/
  --base-shadow: 0px 2px 4px rgba(0, 0, 0, 0.45);
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--amount);
  padding: var(--amount);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--amount);
  width: 300px;
  border-radius: calc(var(--amount) / 2);
  box-sizing: border-box;
  box-shadow: var(--base-shadow);
}
.tema-claro {
  background-color: var(--light);
  color: var(--dark);
}
.tema-escuro {
  background-color: var(--dark);
  color: var(--light);
}
.titulo {
  margin-top: 0;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: calc(var(--font-size) * 2);
}
.texto {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--font-size);
}
.botao {
  width: 100px;
  cursor: pointer;
  color: inherit;
  background-color: inherit;
  padding: calc(var(--amount) / 2);
  border: 1px solid var(--mid);
  border-radius: calc(var(--amount) / 2);
}
