* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.titulo-princial {
  font-size: 24pt;
  color: #5382a1;
}

.subtitulo {
  font-size: 16pt;
  color: #5382a1;
}

.titulo-destaque {
  color: #e76f00;
}

.topico {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 20px 0px;
}

iframe {
  aspect-ratio: 16/9;
}
