:root {
  --gray: #f2f2f2;
  --dark-gray: #ccc;
  --blue: #1100ff;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: var(--gray);
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-bottom: 16px;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.item-group {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 8px;
}

label {
  font-weight: bold;
}

input,
select {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid var(--dark-gray);

  &:focus {
    outline: none;
    border-color: var(--blue);
  }
}

.buttons {
  grid-template-columns: 1fr 1fr;
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--dark-gray);


  &[type="submit"] {
    background-color: var(--blue);
    color: white;
  }

  &:hover {
    opacity: 0.9;
  }
}