* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

form {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

input[type="number"] {
  border: 1px solid #ccc;
  border-radius: 100vw;
  padding: 1rem;
  cursor: pointer;
  transition: all 300ms;
  text-align: center;
  font-size: 1rem;
  max-width: 10rem;

  &:focus {
    background-color: #fafafa;
    border: 1px solid #aaa;
    outline: none;
  }
}

#resultado {
  text-align: center;
}
